APP_NAME=UCOF
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mongodb
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DATABASE=ucof

QUEUE_CONNECTION=sync
CACHE_STORE=file
SESSION_DRIVER=file

VITE_APP_NAME="${APP_NAME}"
